@tailwind base;

body{
    @apply bg-slate-200  min-h-screen p-2; 
    font-family: 'Inter', sans-serif;
}

#app{
   
}

form {
    @apply bg-gray-100 text-lg p-6 flex flex-col gap-1 m-auto rounded-lg shadow-md max-w-md mt-5;
}

.terms{
    @apply mt-1;
}

input{
    @apply bg-slate-200;
}

input:invalid:focus{
    outline-color: red;
}

label, input{
    @apply p-1;
}

label::after{
    content: '*';
    @apply  text-red-600;
}

#submit{
    @apply text-white bg-cyan-400 rounded-sm p-1;
}

table{
    @apply max-w-md m-auto bg-white p-5 rounded-xl shadow-md mt-3 border-separate;
}

thead{
    @apply bg-cyan-600 text-teal-50;
}

th, td{
    @apply p-2;
}